* {
    box-sizing: border-box;
}

.afm-wrapper {
    background: #fefefe;
    padding: 20px;

    p {
        margin: 0;
    }

    .afm-container {
        max-width: 480px;
        width: 100%;
        margin: 0 auto;

        form{
            .afm-form-control {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                margin-bottom: 10px;

                textarea, select, input[type="text"], input[type="email"], input[type="tel"], input[type="file"]{
                    background: aliceblue;
                    border: 1px solid #dedede;
                    padding: 15px;
                    border-radius: 3px;
                    width: 100%;
                    max-width: 350px;
                }

                .afm-error-message {
                    font-size: 14px;
                    color: #f97f7f;
                    margin-top: 5px;
                    font-weight: 500;
                }
            }

            input[type="submit"] {
                padding: 10px 30px;
                cursor: pointer;
                background: #000;
                color: #fff;
                border-radius: 3px;
                margin-top: 10px;

                &:hover {
                    background: #303030;
                }
            }
        }
    }
}